<!doctype html>
<html class="no-js" lang="">

<head>
{% include "head.html" %}
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
   {% include "navbar.html" %}
   {% include "menu.html" %}
   
    <!-- Start Email Statistic area-->
    <div class="notika-email-post-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="recent-post-wrapper notika-shadow sm-res-mg-t-30 tb-res-ds-n dk-res-ds">
                        <div class="recent-post-ctn">
                            <div class="recent-post-title">
                                <h2 style="text-align: center;">FORM UPLOAD</h2>
                                <br>
                                <br>
                                <form action="/upload" method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <table style="width: 100%">
                                            <tr>
                                                <td style="text-align: center; width: 33%;">
                                                    <label for="filePicker">Input File Here</label>
                                                </td>
                                                <td style="text-align: center; width: 33%;">:</td>
                                                <td style="text-align: center; width: 33%;">
                                                    <input type="file" id="filePicker" name="file" class="form-control-file">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <br>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center; width: 33%;">
                                                    <label for="tab-names">Input Tahun</label>
                                                </td>
                                                <td style="text-align: center; width: 33%;">:</td>
                                                <td style="text-align: left; width: 33%;">
                                                    <select class="form-control" name="year" id="tab-names"></select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <br>
                                    <table style="width: 100%">
                                        <tr>
                                            <td style="width: 100%; text-align: center;">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </td>
                                            
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Email Statistic area-->
    <!-- End Realtime sts area-->

  	{% include "footer.html" %}
    {% include "script.html" %}
    <script src="static/js/jszip.min.js"></script>
    <script type="text/javascript">
       $(function() {
          // This code will attach `fileselect` event to all file inputs on the page
          $(document).on('change', ':file', function() {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
          });


          $(document).ready( function() {
        //below code executes on file input change and append name in text control
              $(':file').on('fileselect', function(event, numFiles, label) {

                  var input = $(this).parents('.input-group').find(':text'),
                      log = numFiles > 1 ? numFiles + ' files selected' : label;

                  if( input.length ) {
                      input.val(log);
                  } else {
                      if( log ) console.log(log);
                  }

              });
          });

        });
    </script>
    <script type="text/javascript">
        'use strict'; // v2.3.2
        var result, zip = new JSZip(),
          processStartTime, s, i, index, id;

        var getTab = function(base64file) {

          zip = zip.load(base64file, {
            base64: true
          });
          result = [];
          processStartTime = Date.now();

          if (s = zip.file('xl/workbook.xml')) {
            s = s.asText();

            s = s.split('<sheet ');
            i = s.length;
            while (--i) {
              id = s[i].substr(s[i].indexOf('name="') + 6);
              result.push(id.substring(0, id.indexOf('"')));
            }
          }
              var sel = document.getElementById('tab-names');
            for(var i = 0; i < result.length; i++) {
                var opt = document.createElement('option');
                opt.innerHTML = result[i];
                opt.value = result[i];
                sel.appendChild(opt);
            }
        }

        var handleFileSelect = function(evt) {
          var files = evt.target.files;
          var file = files[0];

          if (files && file) {
            var reader = new FileReader();

            reader.onload = function(readerEvt) {
              var binaryString = readerEvt.target.result;
              getTab(btoa(binaryString));
            };

            reader.readAsBinaryString(file);
          }
        };

        if (window.File && window.FileReader && window.FileList && window.Blob) {
          document.getElementById('filePicker').addEventListener('change', handleFileSelect, false);
        } else {
          alert('The File APIs are not fully supported in this browser.');
        }
    </script>
</body>

</html>