<!doctype html>
<html class="no-js" lang="">

<head>
{% include "head.html" %}
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
   {% include "navbar.html" %}
   {% include "menu.html" %}
    
    <!-- Start Email Statistic area-->
    <div class="notika-email-post-area" style="margin:auto">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="recent-post-wrapper notika-shadow sm-res-mg-t-30 tb-res-ds-n dk-res-ds">
                        <div class="recent-post-ctn">
                            <div class="recent-post-title" >
                            	<br>
                            	<br>
                                <h1 style="text-align: center">
                                	WELLCOME TO CLASSIFICATION SYSTEM
                                </h1>
                                <br>
                                <br>
                                <div class="boxed">
                                	<br>
                                	<p style="text-align: center"> Program dapat membantu Anda mengklasifikasikan judul skripsi menjadi 2 kelas yaitu Relata dan Sistem Cerdas</p>
                                	<br>
                                </div>
                                <br>
                                <div class="boxed">
                                	<br>
                                	<p><san class="tab1"><b>Petunjuk Penggunaan :</b></span></p>
                                		<br>
                                	<p><san class="tab">1. Pilih menu "Upload Data"</span></p>
                                	<p><span class="tab">2. Pada menu "Upload Data" masukkan tahun dan pilih file yang hendak di analisis</span></p>
                                	<p><span class="tab">3. Pada menu "Upload Data" setelah memilih file, maka akan menampilkan preview dari data tersebut</span></p>
                                	<p><span class="tab">4. Pada menu "Analysis" akan menampilan hasil prediksi berupa Judul, Preprocessing dan Class</span></p>
                                	<p><span class="tab">5. Pada menu "All Result" Anda dapat melihat hasil prediksi data berdasarkan tahun</span></p>
                                	<p><span class="tab">6. Pada menu "Chart" Anda dapat melihat diagram kelas berdasarkan tahun</span></p>
                                	<br>
                                </div>
                                <br>
								
								<br>
								<br>
								<br>
								<table id="tbl" style="width:100%">
  									<tr>
    									<td style="text-align: center; border: 1px solid white; width: 50%; color:white;">Fitria Nurhayati</td>
    									<td style="text-align: center; border: 1px solid white; width: 50%; color:white;" >1600018147</td>
  									</tr>
  								</table>
  								<br>
  								
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Email Statistic area-->
    <!-- End Realtime sts area-->
  	{% include "footer.html" %}
    {% include "script.html" %}

</body>

</html>