  <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="/upload">Upload Data</a></li>
                                <li><a href="/predict">Analysis</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->
    <!-- Main Menu area start-->
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <li><a href="/"><i class="fa fa-home"></i> Home</a>
                        </li>
                        <li><a href="/upload"><i class="fa fa-file"></i>Upload Data</a></li>
                        <li><a href="/predict"><i class="fa fa-bar-chart"></i> Analysis</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu area End-->